.notes-container{
  margin-top: 20px;
  height: 200px;
  width:320px;
  border: 2px solid #e5e8f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-left: 1rem; */
} 

.notes-topic{
  /* color: b; */
  padding-left: 1rem;
  text-align: start;
}

.notes-container p{
  padding-left: 1rem;
  text-align: start;
}

.notes-container div{
  text-align: start;
  padding-left: 1rem;
  /* justify-self: space-between; */
  padding-bottom: 8px;
}

.notes-date{
  margin-top: 8px;
  padding-left: 1rem;
  align-self: start;
}