.tasks{
  cursor: pointer;
  align-self: center;
  /* background-color: rgb(255, 206, 206); */
  height: 8rem;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons{
  padding-top: 2px;
  width: 18px;
  height: 18px;
  color: #706f6f;
}

.iconholder{
  display: flex;
  gap: 1rem;
}

.taskdate{
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 8px;
  align-self: start;
}

.tasks h5{
  width: 90%;
  margin-top: 8px;
  margin-left: 10px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectnotebody p{
  font-size: 14px;
  margin-top: 4px;
  margin-left: 10px;
}

.projectnotebody{
  text-align: start;
  margin: 0;
  padding: 0;
  height: 6rem;
  overflow: scroll;
}
