.main-container{
  width: 100%;
  height: 100%;
  /* margin: 5rem auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.form-container{
  position: relative;
  animation-name: leftrightform;
  animation-duration: 3s;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.error{
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: start;
  font-size: small;
  position: relative;
  /* top: 100px; */
  background-color: #ffdddd;
  height: 20px;
  border-radius: 4px;
  color: rgb(53, 1, 1);
}

.form-container h2{
  padding-top: 2%;
  padding-left: 100px;
  font-size: 40px;
  align-self: start;
}

.form-container p{
align-self: start;
padding-left: 100px;
  color: #d2d6d9;
}


.form{
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form label{
  align-self: start;
  margin-top: 5px;
}

.getIn span{
  color: #613db7;
}

.form input{
  height: 30px;
  border: 2px solid #d2d6d9;
  border-radius: 5px;
}

.form button{
  margin-top: 2rem;
  background-color: #613db7;
  color: white;
  border-radius: 5px;
  height: 30px;
  border: none;
}

.getIn{
  /* background-color: red; */
  padding-left: 100px;
  align-self: start;
  color: #8e9193;
  cursor: pointer;
}

.image-container{
  height: 100vh;
  background-image: linear-gradient( to right bottom, rgba(187, 187, 187, 0.35), rgba(42, 42, 42, 0.522) ), url('../image/making-note.webp');
  background-size: cover;
  /* position: absolute; */
}

.note{
  /* background-color: red; */
  position: relative;
  display: inline-block;
  /* top: -100px; */
  font-size: 70px;
  color: white;
  top: 200px;
  animation-name: topdown;
  animation-duration: 3s;
}

.space{
/* background-color: blue; */
font-size: 100px;
position: relative;
display: inline-block;
top: 200px;
color: white;
animation-name: downtop;
animation-duration: 3s;
}

.line{
  position: relative;
  height: 5px;
  width: 480px;
  background-color: white;
  top: 180px;
  left: 80px;
  animation-name: leftright;
  animation-duration: 3s;
}

@keyframes downtop {
  0%   {color: rgb(0, 0, 0); top:1000px; }
  25% {color: #3d3d3d; }
  50% {color: #919393;  }
  75% {color: #c8caca; }
  100% {color:rgb(255, 252, 252); top:200px; }
}

@keyframes topdown{
  0%   {color: rgb(0, 0, 0); top:-100px; }
  25% {color: #3d3d3d; }
  50% {color: #919393;  }
  75% {color: #c8caca; }
  100% {color:rgb(255, 252, 252); top:200px;}
}

@keyframes leftright{
  0% {background-color: black; left: 1000px;}
  25% {background-color: rgb(67, 66, 66); }
  50% {background-color: rgb(137, 137, 137); }
  75% {background-color: rgb(186, 186, 186); }
  100% {background-color: rgb(252, 252, 252); left: 80px;}
}

@keyframes leftrightform{
  0% {left: -1000px;}
  100% {background-color: rgb(252, 252, 252); left: 0px;}
}