.container{
  position: relative;
  background-image: url('../image/brandon-lopez-3E_8XgqRSps-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  /* z-index: 1; */
}

.container::before{
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  animation-name: blurbackground;
  animation-duration: 2s;
}

@keyframes blurbackground {
  0% {backdrop-filter: none;}
  /* 50% {backdrop-filter: blur(1px);} */
  100% {backdrop-filter: blur(5px);}
}


.user-container{
  z-index: 1000; /* Set a higher z-index to place the user container above other content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  background-color: rgba(240, 248, 255, 0.631);
  animation-name: usercontainerappear;
  animation-duration: 2s;
  /* text-align: start; */
  padding: 2rem;
}

.error{
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: start;
  font-size: small;
  position: relative;
  /* top: 100px; */
  background-color: #ffdddd;
  height: 20px;
  border-radius: 4px;
  color: rgb(53, 1, 1);
}

@keyframes form-animation {
  0% {opacity: 0;}
  25% {opacity: 25%;}
  50% {opacity: 50;}
  75% {opacity: 75;}
  100% { opacity: 100%;}
}

.form-container{
  animation-name: form-animation;
  animation-duration: 4s;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}


.cancel{
  color: rgba(255, 0, 0, 0.55);
  text-decoration: none;
}

.form input{
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 10px;
  width: 18rem;
  height: 30px;
}

.form label{
  align-self: start;
}

.form-elements{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form{
  display: flex;
  flex-direction: column; 
  gap: 1rem;
}

.form button{
  margin-top: 2rem;
  background-color: #613db7;
  color: white;
  border-radius: 5px;
  height: 30px;
  border: none;
}


@keyframes usercontainerappear {
  0% {width: 0; height: 0;}
  /* 25% {width: 175px; height: 125px;}
  50% {width: 350px; height: 250px;}
  75% {width: 525px; height: 375px;} */
  100% {width: 700px; height: 500px;}
}